<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <system.serviceModel>
    <behaviors>
       <serviceBehaviors>
         <behavior name="mexBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:16520/alayazsoa/mex"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Alayaz.SOA.IService.ConsoleHost.FileReaderService" behaviorConfiguration="mexBehavior">
        <endpoint address="net.tcp://localhost:16519/alayazsoa" binding="netTcpBinding" contract="Alayaz.SOA.IService.ConsoleHost.IFileReader"/>
      </service>
    </services>
  </system.serviceModel>

  

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <!--JustStart操作方法启动的应用程序名称-->
    <add key="AppName" value="C:\Alayaz\Debug\Alayaz.CM.DN432.WebCrawl.exe" />

  </appSettings>

 
</configuration>