<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IFileReader" />
                <binding name="NetTcpBinding_IFileReader1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:16519/alayazsoa" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFileReader1" contract="ServiceRefConsole.IFileReader"
                name="NetTcpBinding_IFileReader1">
                <identity>
                    <userPrincipalName value="ALAYAZ\Gauge" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:5001/alayazsoa" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IFileReader" contract="ServiceProxy.IFileReader"
                name="NetTcpBinding_IFileReader">
                <identity>
                    <servicePrincipalName value="host/Alayaz" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <appSettings>
    <!--JustStart操作方法启动的应用程序名称-->
    <add key="AppName" value="C:\Alayaz\Debug\Alayaz.CM.DN432.WebCrawl.exe" />

  </appSettings>

</configuration>